<ul>
<% @event.each do |event| %>
 <% if event.approved %>
  <%= link_to event do %>
    <div class = "post_wrapper" href="">
      <div class = "post_content">
        <div class = "post_title">
          <%= event.title %> <div class="meta"> Poster: <%= event.username %> Post date: <%= event.date %> </div>
        </div>
      </div>
    </div>
  <% end %>
 <% elsif User.find_by_username(current_user.username).judge? || current_user.username == event.username%>
  <%= link_to event do %>
    <div class = "post_wrapper" href="">
      <div class = "post_content">
        <div class = "post_title">
          <%= event.title %> 
          <div class="meta">
            Poster: <%= event.username %> Post date: <%= event.date %>
            <% if User.find_by_username(current_user.username).judge? %>
              <%= form_for event do |f| %>
                <%= f.radio_button :approved, "1" %>
                <%= f.submit "Approve" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
 <% end %>
<% end %>
</ul>

<%= link_to 'New Post', new_event_path %>